{{#section 'js'}}
    <script>
        $('#frmChangePassword').on('submit', function (e) {
            e.preventDefault();

            const oldPassword = $('#txtOldPassword').val();
            const newPassword = $('#txtNewPassword').val();
            const confirmNewPassword = $('#txtConfirmNewPassword').val();

            if (oldPassword.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter your old password',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (newPassword.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter your new password',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (confirmNewPassword.length === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter your new password confirm',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else if (confirmNewPassword !== newPassword) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please make sure both passwords match',
                    icon: 'error',
                    confirmButtonText: 'Retry'
                })
                return;
            } else {
                $.getJSON(`/account/isValidPassword?password=${oldPassword}`, function (data) {
                    if (data === false) {
                        Swal.fire({
                            title: 'Error!',
                            text: 'Your old password is not valid',
                            icon: 'error',
                            confirmButtonText: 'Retry'
                        });
                        return;
                    }
                })

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Change password successfully',
                    showConfirmButton: false,
                    timer: 1000
                }).then(function () {
                    $('#frmChangePassword').off('submit').submit();
                });

            }
        })
    </script>
{{/section}}

<form id="frmChangePassword" method="POST" action="">
    <div class="card">
        <div class="card-header">
            <h4>Change Password</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtOldPassword">Old Password</label>
                <input type="password" class="form-control" id="txtOldPassword" name="oldPassword">
            </div>

            <div class="form-group">
                <label for="txtNewPassword">New Password</label>
                <input type="password" class="form-control" id="txtNewPassword" name="newPassword">
            </div>

            <div class="form-group">
                <label for="txtConfirmNewPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="txtConfirmNewPassword" name="confirmNewPassword">
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" type="submit">
                <i class=" fa fa-exchange" aria-hidden="true"></i>
                Change Password
            </button>
        </div>
    </div>
</form>