<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top">
    <a class="navbar-brand" href="/">
        <img src="/public/images/OA.png" width="150" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/courses">
                    <b>Categories</b>
                </a>
                <div class="dropdown-menu">
                    <div class="dropright btn-group w-50">
                        <a class="btn w-100 d-flex justify-content-between m-2">
                            IT
                            <i class="fa fa-caret-right mt-1" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/courses">All Courses</a>
                            <a class="dropdown-item" href="/courses/byField/web">IT Website</a>
                            <a class="dropdown-item" href="/courses/byField/mobile">IT Mobile</a>
                        </div>
                    </div>
                </div>

            </li>
            <li class="nav-item">
                <form class="form-inline" id="form-search" method="POST" action="/admin/courses/search">
                    <div class="input-group input-group-sm">
                        <div class="input-group-append">
                            <button class="btn input-group-text " type="submit" id="btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input class="form-control" type="search" placeholder="Search for anything" aria-label="Search"
                            id="input-search" name="search" />
                    </div>

                </form>
            </li>
        </ul>
        <form id="frmSignout" action="/account/signout" method="POST"></form>
        <ul class="navbar-nav ml-auto">
           
            <li class="nav-item">
                <a class="btn mr-sm-2 my-1">
                    <i class="fa fa-shopping-cart fa-2x"></i>
                </a>
            </li>

            <li class="nav-item mr-2 my-2">
                <a class="btn btn-outline-success" href="/account/signin">
                    Sign in
                </a>
            </li>
            <li class="nav-item my-2">
                <a class="btn btn-success" href="/account/signup">
                    Sign up
                </a>
            </li>
        </ul>
    </div>
</nav>