/* main.hbs */
body {
  background-color: #0d1117;
}

.navbar {
  background-color: #161b22;
}

.dropdown-menu {
  background-color: #161b22;
}
.dropdown-menu a:hover {
  background-color: #58a6ff;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.my-input {
  border-radius: 30px;
  background-color: #0d1117;
}
input[type="search"]:focus {
  background-color: #0d1117;
}
/* /main.hbs */

/* login.hbs */
.card-login {
  /* this affect courses form view */
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #161b22 !important;
}

.input-group-prepend span {
  width: 50px;
  background-color: #28a745;
  color: #0d1117;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.btn-login {
  color: black;
  background-color: #28a745;
  width: 100px;
  border-radius: 30px;
}
.btn-login:hover {
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
/* /login.hbs */

/* signup.hbs */
.card-signup {
  /* this affect courses form view */
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #161b22 !important;
}
/* /signup.hbs */
