/* main.hbs */
body {
  background-color: #0d1117;
}

.navbar {
  background-color: #161b22;
}

.dropdown-menu {
  background-color: #161b22;
}
.dropdown-menu a:hover {
  background-color: #58a6ff;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropright:hover > .dropdown-menu {
  display: block;
}

.dropright > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.my-input {
  border-radius: 30px;
  background-color: #0d1117;
}
input[type="search"]:focus {
  background-color: #0d1117;
}
/* /main.hbs */

/* login.hbs */

.container-login {
  height: 100%;
  align-content: center;
}

.card-login {
  /* this affect courses form view */
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #161b22 !important;
}

.card-login .input-group-prepend span {
  width: 50px;
  background-color: #28a745;
  color: #0d1117;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.card-login input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.card-login .remember {
  color: white;
}

.card-login .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.card-login .btn-login {
  color: black;
  background-color: #28a745;
  width: 100px;
}
.card-login .btn-login:hover {
  background-color: white;
}

.card-login .links {
  color: white;
}

.card-login .links a {
  margin-left: 4px;
}
/* /login.hbs */

/*course index hbs */
.product-grid4,
.product-grid4 .product-image4 {
  position: relative;
}
.product-grid4 {
  font-family: Poppins, sans-serif;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.product-grid4:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-grid4 .product-image4 a {
  display: block;
}
.product-grid4 .product-image4 img {
  width: 100%;
  height: auto;
}
.product-grid4 .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}
.product-grid4:hover .pic-1 {
  opacity: 0;
}
.product-grid4 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}
.product-grid4:hover .pic-2 {
  opacity: 1;
}
.product-grid4 .social {
  width: 180px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
}
.product-grid4 .social li {
  display: inline-block;
  opacity: 0;
  transition: all 0.7s;
}
.product-grid4 .social li:nth-child(1) {
  transition-delay: 0.15s;
}
.product-grid4 .social li:nth-child(2) {
  transition-delay: 0.3s;
}
.product-grid4 .social li:nth-child(3) {
  transition-delay: 0.45s;
}
.product-grid4:hover .social li {
  opacity: 1;
}
.product-grid4 .social li a {
  color: #222;
  background: #fff;
  font-size: 17px;
  line-height: 36px;
  width: 40px;
  height: 36px;
  border-radius: 2px;
  margin: 0 5px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid4 .social li a:hover {
  color: #fff;
  background: #16a085;
}
.product-grid4 .social li a:after,
.product-grid4 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
.product-grid4 .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1;
}
.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before {
  opacity: 1;
}
.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
  color: #fff;
  background-color: #16a085;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 15px;
  transition: all 0.3s;
}
.product-grid4 .product-discount-label {
  left: auto;
  right: 10px;
  background-color: #d7292a;
}
.product-grid4:hover .product-new-label {
  opacity: 0;
}
.product-grid4 .product-content {
  padding: 25px;
}
.product-grid4 .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}
.product-grid4 .title a {
  color: #222;
}
.product-grid4 .title a:hover {
  color: #16a085;
}
.product-grid4 .price {
  color: #16a085;
  font-size: 17px;
  font-weight: 700;
  margin: 0 2px 15px 0;
  display: block;
}
.product-grid4 .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}
.product-grid4 .add-to-cart {
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 10px 20px;
  color: #888;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s;
}
.product-grid4:hover .add-to-cart {
  border: 1px solid transparent;
  background: #16a085;
  color: #fff;
}
.product-grid4 .add-to-cart:hover {
  background-color: #505050;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 990px) {
  .product-grid4 {
    margin-bottom: 30px;
  }
}
/* signup.hbs */
.card-signup {
  /* this affect courses form view */
  height: 530px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #161b22 !important;
}
.card-signup .input-group-prepend span {
  width: 50px;
  background-color: #28a745;
  color: #0d1117;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.card-signup input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.card-signup .remember {
  color: white;
}

.card-signup .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.card-signup .btn-login {
  color: black;
  background-color: #28a745;
  width: 100px;
  border-radius: 30px;
}
.card-signup .btn-login:hover {
  background-color: white;
}

.card-signup .links {
  color: white;
}

.card-signup .links a {
  margin-left: 4px;
}
/* /signup.hbs */

/* home.hbs */
.carousel-control-prev-icon {
  background-color: #0d1117;
  border-radius: 100%;
}
.carousel-control-next-icon {
  background-color: #0d1117;
  border-radius: 100%;
}
/* home.hbs */
