<div class="container my-5">
    <h3 class="text-warning">Site Administration</h3>

    <div class="card mt-3">
        <div class="card-header bg-info text-white">
            CATALOG
        </div>
        <div class="card-body">
            <div class="list-group list-group-flush">
                <div class="list-group-item list-group-item-action">
                    <div class="dropdown">
                        <a href="/admin/users">
                            <b>Users</b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/users/teacher">Teachers</a>
                            <a class="dropdown-item" href="/admin/users/student">Students</a>
                        </div>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action" id="dropdownMenuLink">
                    <div class="dropdown">
                        <a href="/admin/courses">
                            <b>Courses</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{#each listCategories}}
                                <a class="dropdown-item" href="/admin/courses/byField/{{this.name}}"
                                    style="text-transform: capitalize;">{{this.name}}</a>
                            {{/each}}
                        </div>
                    </div>

                </div>

                <a href="/admin/categories" class="list-group-item list-group-item-action">
                    <b>Categories</b>
                </a>
                <a href="/admin/feedbacks" class="list-group-item list-group-item-action">
                    <b>Feedbacks</b>
                </a>
            </div>
        </div>
    </div>
</div>