<div class="container m-3">
    <h3 class="text-warning">Site Administration</h3>

    <div class="card mt-3">
        <div class="card-header bg-info text-white">
            CATALOG
        </div>
        <div class="card-body">
            <div class="list-group list-group-flush">
                <a href="/admin/users" class="list-group-item list-group-item-action">
                    <b>Users</b>
                </a>
                <a href="/admin/courses" class="list-group-item list-group-item-action">
                    <b>Courses</b>
                </a>
            </div>
        </div>
    </div>
</div>