<!--username varchar(50) NOT NULL,-->
<!--password_user varchar(255) NOT NULL,-->
<!--name_user varchar(50) NOT NULL,-->
<!--email varchar(50) NOT NULL,-->
<!--dob date NOT NULL,-->
<!--role_user varchar(10) NOT NULL,-->

<form method="POST" action="">
    <div class="card">
        <div class="card-header">
            <h4>New Student</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtUsername">Username</label>
                <input type="text" class="form-control" id="txtUsername" name="username" autofocus required>

                <label for="txtPassword">Password</label>
                <input type="password" class="form-control" id="txtPassword" name="password" required>

                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" name="fullname">

                <label for="txtEmail">Email</label>
                <input type="email" class="form-control" id="txtEmail" name="email">

                <label for="txtDob">Day of Birth</label>
                <input type="date" class="form-control" id="txtDob" name="dob">

                <input type="hidden" class="form-control" name="role" value="student">


            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/admin/students" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to List
            </a>
            <button class="btn btn-success" type="submit">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>